<div class="container">

    <!--ADD Form-->
    <section class="row">


    </section>
    <!--END ADD Form-->



    <!--Search Form-->
    <section class="row">
        <form class="form-inline" >
            <div class="form-group col-xs-10 search-form">
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input id="zip" name="zip" placeholder="Zip Code" class="form-control"  type="text">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-default col-xs-2">
                <span class="glyphicon glyphicon-search " aria-hidden="true"></span>
            </button>
        </form>


    </section>
    <!--END Search Form-->





    <!--Search Form-->
    <section class="row">
        <ul class="list-group" id="events">

        </ul>
    </section>
    <!--END Search Form-->





</div>